:root {
  --primary-dark: #ebebeb;
  --primary-color: #8bc574;
  --primary-hover: #b7b7b7;
}

body.dark {
  background: linear-gradient(20deg, rgb(8, 8, 8), var(--primary));
  color: rgba(235, 235, 235, .87);
}

.dark button {
  background-color: var(--primary-color);
}

.dark button:hover {
  background-color: var(--primary-hover);
}

.dark .card {
  background: #1d1d1d;
}

.dark .card__text, .dark .subtitle {
  color: var(--primary-dark);
  opacity: 60%;
}

.dark .card__link {
  background-color: var(--primary-color);
}

.dark .card__link:hover {
  background-color: #5e5e5e;
  color: #fff;
}

.dark .form__buttons input{
  background-color: var(--primary-color);
}

.dark .form__buttons input:hover {
  background-color: var(--primary-hover);
}

.dark .hamburger,
.dark .hamburger::before,
.dark .hamburger::after {
  background: rgba(235, 235, 235, .87);
}

.dark .navbar {
  background: linear-gradient(10deg, #070e05f0, #132e09d2), url(../img/hero.jpg);
}

.dark .navbar__link {
  color: var(--primary-dark);
}

.dark .navbar__link:hover {
  border-bottom: 3px solid #96f571d2;
}

.dark .navbar__menu {
  background: #212121;
}

@media only screen and (min-width: 992px) {
  .dark .navbar__menu {
    background: transparent;
  }
}

.dark .post__image {
  filter: brightness(60%);
}

.dark .post__image:hover {
  filter: brightness(90%);
}

.dark .text__link {
  color: var(--primary-dark);
}

.fa-moon {
  color: #fff;
}

.fa-sun {
  color: #f0f07b;
}

.dark .footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: left;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 769px) {
  .footer {
    padding: 1rem 12.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    padding: 1rem 10rem;
  }
}
