{% extends "./layout.html" %}
{% block title %}Contenidos{% endblock %}

{% block main %}
<h2 class="title title--normal">Nuestro Contenido</h2>
<div class="container">
  {% for post in list_posts %}
  <div class="card">
    <div class="card__image">
      <img src="{{post.image_link}}">
    </div>
    <div class="card__body">
      <h4 class="card__title"> {{post.title}} </h4>
      <p class="card__text">Publicado el {{post.timestamp}}</p>
      <a title="Leer mas" class="card__text" href="{{url_for('content', post_id=post.id)}}">Leer mas</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}