{% extends "./layout.html" %}
{% block title %}Contactanos{% endblock %}

{% block main %}
  <h2 class="title title--normal"> Los desarrolladores </h2>
  <div class="devs">
    <div class="profile">
      <div class="profile__content">
        <h2 class="profile__title">Brenda Miranda</h2>
        <p class="profile__desc">Programadora</p>
        <a href="https://github.com/bmirandach" target="_blank" class="profile__button"><button>Github</button></a>
      </div>
    </div>
    <div class="profile">
      <div class="profile__content">
        <h2 class="profile__title">Mario Sandoval</h2>
        <p class="profile__desc">Programador</p>
        <a href="https://github.com/mas2000" target="_blank" class="profile__button"><button>Github</button></a>
      </div>
    </div>
  </div>
{% endblock %}