{% extends "./layout.html" %}
{% block title %}Contacto{% endblock %}

{% block main %}

<h2 class="title title--normal"> Contactos </h2>
<p class="text">Para contactarnos puedes hacerlo mendiante los siguientes modos:</p>
<p class="text">Correo: newplant@gmail.com</p>
<hr>
<p class="text">Telefono: +54 11 9 1234-5678</p>
<hr>
<p class="text">Direccion: Bella Pagina God 2022</p>
<hr>
<h2 class="title title--normal">Los desarrolladores</h2>
<p class="text"> Brenda Miranda </p>
<p class="text"> Mario Sandoval</p>
{% endblock %}