{% extends "./layout.html" %}
{% block title %}Inicio{% endblock %}

{% block header %}
<div class="hero">
  <h1 class="hero__title">Bienvenido al blog de plantas</h1>
  <h4 class="hero__title"> Una página en donde encontrarás posts sobre cuidados, decoraciones y más</h4>
</div>
{% endblock %}
{% block main %}
<div class="text-container">
  <h2>Posts</h2>
  <a class="text__link" href="{{ url_for('contents') }}">Ver más ></a>
</div>
<div class="container">
  <!-- {% for post in list_posts[:4]: %} -->
  <div class="card">
    <div class="card__image">
      <img src="{{ post.image_link }}">
    </div>
    <div class="card__body">
      <h3 class="card__title">{{post.title}}</h3>
      <p class="card__text">Publicado el {{post.timestamp}}</p>
      <a title="Leer mas" class="card__link" href="{{ url_for('content', post_id=post.id) }}">Leer más</a>
    </div>
  </div>
  <!-- {% endfor %} -->
</div>
{% endblock %}