<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar">
      <a class="navbar__link" href="/">Nombre</a>
      <ul class="navbar__list">
        <li><a class="navbar__link" href="#">Perfil</a></li>
        <li><a class="navbar__link" href="/agregar">Crear</a></li>
        <li><a class="navbar__link" href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    {% block header %}
    {% endblock %}
  </header>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer class="footer">
    <p>Nombre</p>
    <address>
      <p>Buenos Aires, Argentina</p>
    </address>
    <p>Copyright &copy; 2022 Nombre, todos los derechos reservados.</p>
  </footer>
  <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>

</html>