{% extends "./layout.html" %}
{% block title %}Perfil{% endblock %}

{% block main %}
{% if current_user.id == user.id %}
<h2 class="title title--semibold">Bienvenido  
  <div class="img_profile">
    <img src="{{user.imgp}}">  
  </div>                                                                                                                                                                                              </h2>
<h4 class="subtitle">Nombre: {{user.name}}</h4>
<h4 class="subtitle">Apellido: {{user.surname}}</h4>
<h4 class="subtitle">Usuario: {{user.username}}</h4>
<h4 class="subtitle">Email: {{user.email}}</h4>

<!--
<div class="eprofile">
  <a href="{{url_for('updateuser', user_id=user.id)}}"><button>Editar Perfil</button></a>
</div>
-->

<h3 class="subtitle title">Tus favoritos:</h3>
{% else %}
<h2 class="title title--semibold">Perfil de {{user.username}}</h2>
<div class="img_profile">
  <img src="{{user.imgp}}">  
</div>
<h4 class="subtitle">Nombre: {{user.name}}</h4>
<h4 class="subtitle">Apellido: {{user.surname}}</h4>
<h4 class="subtitle">Usuario: {{user.username}}</h4>
<h4 class="subtitle">Email: {{user.email}}</h4> 

<h3 class="subtitle title">Post favoritos</h3>
{% endif %}

<div class="container">
  {% for post in list_posts %}
  <div class="card">
    <div class="card__image">
      <img src="{{post.image_link}}">
    </div>
    <div class="card__body">
      <h4 class="card__title"> {{post.title}} </h4>
      <p class="card__text">Publicado el {{post.timestamp}}</p>
      <a title="Leer mas" class="card__link" href="{{url_for('content', post_id=post.id)}}">Leer más</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}