{% extends "./layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Crear usuario{% endblock %}

{% block main %}
<div class="form__container">
  <h2 class="title title--normal">Crea tu usuario</h2>
  <form action="" method="post" novalidate class="form">
    {{ form.hidden_tag() }}

    <!-- Nombre -->
    <div class="form__data">
      {{ form.name.label }}
      {{ form.name(size=32) }}
      {% for error in form.name.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Apellido -->
    <div class="form__data">
      {{ form.surname.label }}
      {{ form.surname(size=32) }}
      {% for error in form.surname.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- NombredeUsuario -->
    <div class="form__data">
      {{ form.username.label }}
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Email -->
    <div class="form__data">
      {{ form.email.label }}
      {{ form.email(size=64) }}
      {% for error in form.email.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Contraseña -->
    <div class="form__data">
      {{ form.password.label }}
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Foto de perfil (Por el momento solo link) -->
    <div class="form__data">
      {{ form.imgp.label }}
      {{ form.imgp }}
      {% for error in form.imgp.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form__buttons">
      {{ form.submit()}}
    </div>
  </form>
  <p>¿Ya tenés una cuenta? <a href="{{ url_for('login') }}">Iniciá sesión</a></p>
</div>



{% endblock %}