{% extends "./layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Editar{% endblock %}

{% block main %}
<div class="form__container">
  <h2 class="title title--normal">Editar perfil</h2>
  <form action="" method="post" novalidate class="form">
    {{ form.hidden_tag() }}

    <!-- borré los datos que me parecía que no deberían poder editarse no los dejé comentados porque le molestaba a jinja2 -->

    <!-- NombredeUsuario -->
    <div class="form__data">
      {{ form.username.label }}
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Email -->
    <div class="form__data">
      {{ form.email.label }}
      {{ form.email(size=64) }}
      {% for error in form.email.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <!-- Foto de perfil (Por el momento solo link, POR SIEMPRE!!) -->
    <div class="form__data">
      {{ form.imgp.label }}
      {{ form.imgp }}
      {% for error in form.imgp.errors %}
      <span class="message--error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form__buttons">
      {{ form.submit()}}
    </div>
  </form>
</div>
{% endblock %}